body{
    background: url("./background.jpg");
    background-size: cover;
    color:black;
    font-size: 18px;  
    width: 100%;
    height: 100em; 
    justify-content: center;
}

main{
    background-color:whitesmoke;
    margin:  0 auto;
    width: 60em;
    max-width: 500px;
    min-width: 300px;
    padding: 2em;
}

h1,h3{
    color: white;
    text-align: center;
    padding: 2px;
    margin: 1em auto;
}

label{
    display:block;
    margin: 1rem 0;
    color: black;
}

input,textarea,select,button{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    font: 500 1rem 'Quicksand', sans-serif;
}

select{
    font-size: 14px;
}
textarea{
    border-width: 2px;
    border-style: inset;
    vertical-align: top;
}

input[type="file"]{
    padding: 1px 2px;
}

button[type="submit"]{
    display: block;
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
    color: white;
    background-color: navy;
  }
